<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{{ page.description }}">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>
    <meta name="msvalidate.01" content="59A4BFB71E1C41B93673BAFADC287289" />
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114691005-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-114691005-1');
    </script>
    <body>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <!--  <li><a href="/blog">Blog</a></li> -->
        </ul>
      </nav>
      <div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/vorzawk">github.com/vorzawk</a></li>
				</ul>
			</footer>
		</body>
	</html>
